<%if @players == []%>
<p>We have no players at the moment.Be our first one<p/><br/>
<%else%>
<% @players.each do |player|%>
<p>Player <b><%= player.nickname%><b/> <br/>
	has rank <%= player.rank%>
	<%= link_to "Read all info", player_path(player.id)%>
	<%end%>
	<%end%>
<p/>
<%=link_to "Create your player", new_player_path%>