<p>Player <%= @player.nickname %><br /> 
	has rank <%= @player.rank %> <br />
	charisma: <%= @player.charisma %><br /> 
	wisdom: <%= @player.wisdom %><br />
<p/>
<p>
	<%= link_to"Home",root_path%>
  <%= link_to "Edit" , edit_player_path(@player.id) %>
   <%= link_to "Delete" , player_path(@player.id), method: :delete %>
</p>